<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <img src="assets/logo.png" />
      </ion-col>
      <ion-col size="10">
        <ion-item mode="ios">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input
            mode="ios"
            type="text"
            placeholder="Search Product or Brand"
          ></ion-input>
        </ion-item>
        <!-- <ion-searchbar
          class="search"
          mode="ios"
          placeholder="Search Product or Brand"
        ></ion-searchbar> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="assets/card1.png" />
            </ion-col>
            <ion-col>
              <div>Canagan Dental</div>
              <p>Get Up To 40% OFF</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-start">
        <p>Trending now</p>
      </ion-col>
      <ion-col class="ion-text-end"><p>See all</p></ion-col>
    </ion-row>
    <ion-row>
      <div *ngFor="let item of sqare">
        <img [src]="item.img" />
        <p>{{item.text}}</p>
        <p>{{item.for}}</p>
      </div>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-start">
        <p>Browse pet types</p>
      </ion-col>
      <ion-col class="ion-text-end"><p>See all</p></ion-col>
    </ion-row>
    <ion-row>
      <div></div>
    </ion-row>
  </ion-grid>
</ion-content>
