ion-grid {
  padding: 4vw;
}
.search {
  padding: 0%;
  padding-left: 2vw;
  --background: #f2f3f2;
  --border-radius: 7.5px;
  --color: #7c7c7c;
  --placeholder-color: var(--color);
  --icon-color: #1d1d1b;
  --box-shadow: 0px;
  --placeholder-font-weight: 300;
  height: 52px !important;
}

.offercard {
  background-color: #23bda8;
  border-radius: 12px;
  background-image: url("../../assets/card1.png");
  height: 148px;
  margin: 2vh 0px;
  ion-row {
    height: 100%;
    div {
      color: black;
      font-size: large;
      font-weight: normal;
    }
    p {
      color: white;
      font-size: smaller;
      font-weight: normal;
      margin-top: 0%;
    }
  }
}
